@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(8, 17, 34);
}
.container{
    padding: 0 10%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container div{
    display: none;
    background-color:  white;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    color: black;
    flex: 1 1 400px;
}
.container p{
    margin: 5px 0;
}
.container .disciplina{
    font-size: 24px;
    color: #02682e;
    font-weight: 800;
}

.container .presencial{
    background-color: #003A7A;
    display: inline-block;
    color: white;
    padding: 5px;
}

.alert{
    background-color: red;
    color: white;
}

.visible{
    display: block !important;
}


.search{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    color: white;
    position: relative;
}

body::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(./img/unb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;
    z-index: -1;
}
form{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10%;
    z-index: 10;
}
form input {
    width: 100%;
    outline: none;
    display: block;
    padding: 10px;
}

form select{
    width: 25%;
    padding: 10px;
}
form button{
    flex-grow: 1;
    background-color: #007d36;
    border: none;
    color: white;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

form button:hover{
    background-color: #02682e;
}
.search h1{
    margin-bottom: 25px;
    font-size: 50px;
    z-index: 10;
    text-shadow: 5px 5px 10px black;
}

footer{
    text-align: center;
    margin: 10px;
    color: #fff;
}

footer a{
    text-transform: none;
    text-decoration: none;
    color: #fff;
}


